@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
    font-family:'BYekan' ;
    src: url("/public/Fonts/BYekan.ttf") format("truetype");
}
@theme {
    --font-display: "Satoshi", "sans-serif";
    --font-Byekan:BYekan;
    --breakpoint-3xl: 1920px;
    --color-primary-100:rgb(153, 0, 51);
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

    /* ... */
  }
  @layer base {
    
  }
  @layer utilities{
    .btn{
        @apply w-40 py-2 px-5 rounded-[10px] bg-amber-400 text-amber-50 m-5 text-2xl hover:opacity-75 transition-all delay-1000;
    }

  }
  body{
    font-family: BYekan;
  }

  :root {
    --background:oklch(1 0 0);
    --foreground:oklch(0.145 0 0);
    --card:oklch(1 0 0);
    --card-foreground:oklch(0.145 0 0);
    --popover:oklch(1 0 0);
    --popover-foreground:oklch(0.145 0 0);
    --primary:oklch(0.205 0 0);
    --primary-foreground:oklch(0.985 0 0);
    --secondary:oklch(0.97 0 0);
    --secondary-foreground:oklch(0.205 0 0);
    --muted:oklch(0.97 0 0);
    --muted-foreground:oklch(0.556 0 0);
    --accent:oklch(0.97 0 0);
    --accent-foreground:oklch(0.205 0 0);
    --destructive:oklch(0.577 0.245 27.325);
    --destructive-foreground:oklch(0.577 0.245 27.325);
    --border:oklch(0.922 0 0);
    --input:oklch(0.922 0 0);
    --ring:oklch(0.708 0 0);
    --chart-1:oklch(0.646 0.222 41.116);
    --chart-2:oklch(0.6 0.118 184.704);
    --chart-3:oklch(0.398 0.07 227.392);
    --chart-4:oklch(0.828 0.189 84.429);
    --chart-5:oklch(0.769 0.188 70.08);
    --radius:0.625rem;
    --sidebar:oklch(0.985 0 0);
    --sidebar-foreground:oklch(0.145 0 0);
    --sidebar-primary:oklch(0.205 0 0);
    --sidebar-primary-foreground:oklch(0.985 0 0);
    --sidebar-accent:oklch(0.97 0 0);
    --sidebar-accent-foreground:oklch(0.205 0 0);
    --sidebar-border:oklch(0.922 0 0);
    --sidebar-ring:oklch(0.708 0 0);
}

  .dark {
    --background:oklch(0.145 0 0);
    --foreground:oklch(0.985 0 0);
    --card:oklch(0.145 0 0);
    --card-foreground:oklch(0.985 0 0);
    --popover:oklch(0.145 0 0);
    --popover-foreground:oklch(0.985 0 0);
    --primary:oklch(0.985 0 0);
    --primary-foreground:oklch(0.205 0 0);
    --secondary:oklch(0.269 0 0);
    --secondary-foreground:oklch(0.985 0 0);
    --muted:oklch(0.269 0 0);
    --muted-foreground:oklch(0.708 0 0);
    --accent:oklch(0.269 0 0);
    --accent-foreground:oklch(0.985 0 0);
    --destructive:oklch(0.396 0.141 25.723);
    --destructive-foreground:oklch(0.637 0.237 25.331);
    --border:oklch(0.269 0 0);
    --input:oklch(0.269 0 0);
    --ring:oklch(0.439 0 0);
    --chart-1:oklch(0.488 0.243 264.376);
    --chart-2:oklch(0.696 0.17 162.48);
    --chart-3:oklch(0.769 0.188 70.08);
    --chart-4:oklch(0.627 0.265 303.9);
    --chart-5:oklch(0.645 0.246 16.439);
    --sidebar:oklch(0.205 0 0);
    --sidebar-foreground:oklch(0.985 0 0);
    --sidebar-primary:oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground:oklch(0.985 0 0);
    --sidebar-accent:oklch(0.269 0 0);
    --sidebar-accent-foreground:oklch(0.985 0 0);
    --sidebar-border:oklch(0.269 0 0);
    --sidebar-ring:oklch(0.439 0 0);
}




